:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --button-content-color: #fff;

  --main-font-weight-regular: 400;
  --main-font-weight-bold: 700;

  --bg-gradient-color-start: #e7e7e7;
  --bg-gradient-color-end: #1a1a1a;
  --stripe-color: #d3d3d3;
}

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --button-content-color: #00cc14;

  --main-font-weight-regular: 465;
  --main-font-weight-bold: 785;

  --bg-gradient-color-start: #007f0c;
  --bg-gradient-color-end: #004306;
  --stripe-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --button-content-color: #00cc14;

    --main-font-weight-regular: 465;
    --main-font-weight-bold: 785;

    --bg-gradient-color-start: #007f0c;
    --bg-gradient-color-end: #004306;
    --stripe-color: #000;
  }
}
